@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #242933;
    --container-bg-color: #2a303c;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card {
    @apply bg-[#191d24] rounded-xl m-3 p-3 px-5 grid grid-cols-12 justify-between;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #242933;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
